// Portfolio item 6 modal popup
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Olivia
                            p.item-intro.text-muted Identity
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/6.jpg', alt='...')
                            p I have been deeply impacted by the kindness, intentionality and wisdom Johnny brings to the table. I received deep and insightful guidance and support from Johnny while leaving an abusive situation that was eroding my sense of self-worth. Johnny was one of the safest places in my life at this time and he went out of his way to provide empathy, direction and was instrumental in my ability to connect with my heart and my dignity in the face of a lot of pain. I will be eternally grateful for the way he has helped me to reframe perspective in my story and take back my power and confidence as a woman, as a daughter and as a friend.
                            ul.list-inline
                                li
                                    strong Title:
                                    | Identity
                                li
                                    strong Category:
                                    | Trauma
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-times.me-1
                                | Close Testimony